<!DOCTYPE HTML>
<!--chat.html-->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

<!-- 배너 -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>TeleManager</h1>
            <p>Outbound TM Automation Service for Enterprises</p>

        </header>
        <a href="/" class="button big scrolly">구현 중</a>
    </div>
</section>







{% endblock %}