<!DOCTYPE html>
<!--edit_client.html-->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>TeleManager</h1>
            <p>Outbound TM Automation Service for Enterprises</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>

<div id="main" class="container">
    <hr><br><br>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객 정보 수정</title>
</head>
<body>

<h3 class='centered'>고객 정보 수정</h3><br>

<form method="post" class="margin-form-container">
    {% csrf_token %}
    {{ form.as_p }}  
    <button type="submit">완료</button>
    <button><a href="{% url 'client:list' %}" style='color:white'>취소</a></button>
</form>

</body>
</div>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 페이지 로드 시에 #main 부분으로 스크롤되도록 설정
        var mainSection = document.getElementById('main');
        mainSection.scrollIntoView({ behavior: 'smooth' });
    });
</script>


{% endblock %}
