<!-- selected_items.html -->
{% extends 'base.html' %}
{% load static %}
 
{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
 
{% block content %}
 
<style>
   
    .input-left {
        display: flex;
        flex-direction: row; /* 요소들을 가로로 나란히 배치합니다 */
        align-items: center; /* 요소들을 세로로 가운데 정렬합니다 */
        margin-right: 10px; /* 오른쪽 마진을 추가하여 input 요소 사이에 간격을 조절합니다 */
    }

    #load {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.8;
        background: white;
        z-index: 99;
        text-align: center;
    }

    #load > img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
    }
   
</style>
 
<!--main-->
<div id="main" class="container">
    <hr>
    <br><br>
 
    <form method="post" action="{% url 'client:start_tm' %}" class="form-container">
        {% csrf_token %}
        <h3 class='centered'>TM Message</h3>
        <br><br>
        <span>어떤 목적의 마케팅을 보내드릴까요?</span>
   
        <div class='input-left'>
            <input type="text" name="input_data" id="textInput" class="input-left" placeholder="TM 목적 입력">
            <input type="submit" value="Send">
        </div>
        <br><br><br>
 
        <h3 style='font-size: 1rem;'>선택된 고객 목록</h3>
 
        <table border="1">
            <thead>
                <tr>
                    <th><div><input type="checkbox" id="select-all"><label for="select-all"></label></div></th>
                    <th>이름</th>
                    <th>주소</th>
                    <th>전화번호</th>
                    <th>생년월일</th>
                    <th>나이</th>
                    <th>성별</th>
                    <th>이메일</th>
                    <th>상담날짜</th>
                    <th>TM 목적</th>
                    <th>감성</th>
                    <th>고객관리</th>
                </tr>
            </thead>
            <tbody>
                {% for client in selectedClients %}
                    <tr>
                        <td> 
                            <div>
                                <input type="checkbox" id="copy_{{ client.id }}" name="client_ids" value="{{ client.id }}">
                                <label for="copy_{{ client.id }}"></label>
                            </div>
                        </td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.location }}</td>
                        <td>{{ client.number }}</td>
                        <td>{{ client.birth_date }}</td>
                        <td>{{ client.age }}</td>
                        <td>{{ client.gender }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.tm_date|date:"Y. m. d P" }}</td>
                        <td>추가해야함</td>
                        <td>O/X</td>
                        <td>
                            <a href="{% url 'client:edit_client' client.id %}">수정하기</a> 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
 
        <h3 style='font-size: 1rem;'>선택된 파일 목록</h3>
        <table border="1">
            <thead>
                <tr>
                    <th><div><input type="checkbox" id="select-all2"><label for="select-all2"></label></div></th>
                    <th>파일 이름</th>
                    <th>업로드 날짜</th>
                    <th>설명</th>
                    <th>임베딩 파일</th>
                    <th>파일관리</th>
                </tr>
            </thead>
            <tbody>
                {% for file in selectedFiles %}
                    <tr>
                        <td>
                            <div>
                                <input type="checkbox" id="copy_{{ file.id }}" name="file_ids" value="{{ file.id }}">
                                <label for="copy_{{ file.id }}"></label>
                            </div>
                        </td>
                        <td>{{ file.file.name|cut:"_"|slice:"1:" }}</td>
                        <td>{{ file.upload_date }}</td>
                        <td>{{ file.description }}</td>
                        <td>{{ file.embedding_file }} </td>
                        <td>
                            <a href="{% url 'account:edit_file' file.id %}">수정</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </form>
 
    <button><a href="{% url 'client:list'  %}" style='color:white'>뒤로가기</a></button>

    <button onclick="scheduleGoBack()">10초 후 뒤로가기</button>

    <div id="load" style="display: none;">
        <img src="{% static 'Glowing_ring.gif' %}" alt="loading">
    </div>
</div>
 
<script>

    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('.form-container');
        
        form.addEventListener('submit', function(event) {
            const selectedClientIds = Array.from(document.querySelectorAll('input[name="client_ids"]:checked')).map(checkbox => checkbox.value);
            const selectedFileIds = Array.from(document.querySelectorAll('input[name="file_ids"]:checked')).map(checkbox => checkbox.value);
            
            // 선택된 항목이 있을 때만 hidden input fields를 추가합니다.
            if (selectedClientIds.length > 0) {
                const clientIdsInput = document.createElement('input');
                clientIdsInput.type = 'hidden';
                clientIdsInput.name = 'selected_clients';
                clientIdsInput.value = selectedClientIds.join(',');
                form.appendChild(clientIdsInput);
            }
            
            if (selectedFileIds.length > 0) {
                const fileIdsInput = document.createElement('input');
                fileIdsInput.type = 'hidden';
                fileIdsInput.name = 'selected_files';
                fileIdsInput.value = selectedFileIds.join(',');
                form.appendChild(fileIdsInput);
            }
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const clientCheckboxes = document.querySelectorAll('input[name="client_ids"]');
        clientCheckboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        });
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const fileCheckboxes = document.querySelectorAll('input[name="file_ids"]');
        fileCheckboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        });
    
    });
    
</script>

<!-- 10초후 작동하는 버튼 -->
<script>
    function scheduleGoBack() {
        // 보여지는 로딩 이미지
        const loadingPage = document.getElementById("load");
        loadingPage.style.display = 'block';

        // 10초 후에 뒤로가기
        setTimeout(() => {
            window.history.back();
        }, 10000);  // 10초 대기

        // 로딩 이미지 감추기
        setTimeout(() => {
            loadingPage.style.display = 'none';
        }, 10000);  // 1초 후에 감춤 (원하는 대기 시간으로 조절)
    }
</script>

{% endblock %}
