<!-- start_tm.html -->
{% extends 'base.html' %}

{% load static %}

{% block static %}
    <!-- External CSS file link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

<style>
    .chat-menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .chart {
        background-color: #fff;
        width: 200px;
        height: 450px;
        text-align: center;
        border-radius: 5px; /* 둥근 모서리 설정 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    }
</style>

<div id="main" class="container">
    <hr>
    <br><br>

    <h3>Outbound TM</h3>
    <a>tm 목적:  {{ input_data }}</a>

    <!-- main -->
    <div class='chat-menu'>
        <div class='chart'>
            <a>회사파일 |</a>
            {% for file in selectedFiles %}
                <input type='checkbox' name='file_ids' value='{{ file.id }}'>
                {{ file.file.name|cut:"_"|slice:"1:" }}
            {% endfor %}
            <div id="clientInfo">
                {% for client in selectedClients %}
                    <span onclick="showClientName('{{ client.name }}')">{{ client.name }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- 채팅 대화창 -->
        <div class='chat-container'>
            <div class='user-info'>
                <img src='../../../static/images/user.jpg' alt='User Avatar' width='30' height='30'>
                <span id="clickedClientName"></span>
                <div class='user-status-indicator'></div>
            </div>

            <div class='chat-messages' id='chat-messages'>
                <!-- 채팅 메시지들이 동적으로 추가될 부분 -->
                <div class='message received'>
                    <div class='message-bubble' id='initialMessage'>{{ question.0 }}</div>
                </div>
            </div>
            <div class='input-container'>
                <input type='text' id='message-input' placeholder='Type your message...'>
                <button class='send-button' onclick='sendMessage()'>Send</button>
            </div>
        </div>
    </div>
    <button id='goBack' onclick='goBack()'>뒤로가기</button>
</div>
        {% comment %} 
        <div>
            <audio controls>녹음된 소리를 재생할 audio 엘리먼트</audio>
            <br><br><br><br><br>
            <div class="button-container">
                <!-- 시작할 때 드러날 버튼들 -->
                <button id="recordbutton" onclick="showButton('startrecord');" style="background-image: url('{% static 'loading_recording/icons8-recording-60.png' %}');" class="button-image"></button>
                <button id="playbutton" onclick="playAudio(); showButton('playvoice');" style="background-image: url('{% static 'loading_recording/icon8-play-60.png' %}');" class="button-image"></button>
                <!-- 시작할 때 숨어있을 이미지, 버튼들 -->
                <button id="no_record" style="display: none; background-image: url('{% static 'loading_recording/icons8-no-record-60.gif' %}');" class="button-image"></button>
                <button id="stop_record" onclick="showButton('stoprecord');" style="display: none; background-image: url('{% static 'loading_recording/icons8-voice-recognition-60.gif' %}');" class="button-image"></button>
                <button id="no_play" style="display: none; background-image: url('{% static 'loading_recording/icons8-hearing-60.png' %}');" class="button-image"></button>
                <button id="playing" onclick="showButton('stoprecord');" style="display: none; background-image: url('{% static 'loading_recording/icons8-speech-bubble-60.gif' %}');" class="button-image"></button>
            </div>
        </div>
        {% endcomment %}
    

<script>
    function goBack() {
        window.history.back();
    }

    const chatInput = document.getElementById('message-input');
    const chatMessages = document.getElementById('chat-messages');
    const initialMessage = document.getElementById('initialMessage');
    const questions = [{% for q in question %}'{{ q }}', {% endfor %}];

    let currentQuestionIndex = 1;  // 0번째 질문은 이미 보여주었으므로 1부터 시작

    function showClientName(clientName) {
        // 클릭한 클라이언트의 이름을 표시하는 부분을 업데이트
        const clickedClientNameElement = document.getElementById('clickedClientName');
        clickedClientNameElement.textContent = clientName;
        // 해당 클라이언트에 맞는 질문을 가져와서 표시
        const clientQuestions = getClientQuestions(clientName);
        updateChatMessages(clientQuestions);
    }

    async function sendMessage() {
        const userMessage = chatInput.value.trim();

        if (userMessage !== '') {
            // 사용자의 입력을 채팅창에 동적으로 추가
            const userChatMessage = document.createElement('div');
            userChatMessage.className = 'message sent';
            userChatMessage.innerHTML = `<div class="message-bubble">${userMessage}</div>`;
            chatMessages.appendChild(userChatMessage);


            // ajax, fetch 사용해야 할 부분
            console.log(userMessage);
            let results = await executeBackendTextProcessing(userMessage);
            console.log("@@@");
            console.log(results);

            















            // '네'에 대한 응답을 자동으로 추가
            if (userMessage === '네') {
                if (currentQuestionIndex < questions.length) {
                    const neMessage = document.createElement('div');
                    neMessage.className = 'message received';
                    neMessage.innerHTML = `<div class="message-bubble">${questions[currentQuestionIndex]}</div>`;
                    chatMessages.appendChild(neMessage);
                    currentQuestionIndex += 1;
                } else {
                    // 모든 질문에 대한 응답이 끝났을 경우 채팅 종료
                    const endMessage = document.createElement('div');
                    endMessage.className = 'message received';
                    endMessage.innerHTML = '<div class="message-bubble">채팅 종료</div>';
                    chatMessages.appendChild(endMessage);
                    // 추가로 필요한 동작 수행 (채팅 종료 등)
                }
            }

            // 입력창 초기화 및 포커스 유지
            chatInput.value = '';
            chatInput.focus();
        }
    }

    // 텍스트 백앤드 전달하여 감정 분류 및 결과 값 받기
    async function executeBackendTextProcessing(userMessage) {
        try {
            const response = await fetch("/client/start_tm/text_processing/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ userMessage: userMessage }),
            });
    
            const data = await response.json();
    
            // 여기에서 필요한 동작 수행
    
            return data.result;  // 예시로 결과 값 반환
        } catch (error) {
            console.error("에러 발생:", error);
            throw error;  // 에러를 다시 던지면 이후에도 에러 처리 가능
        }
    }


    // 엔터 키를 누를 때 sendMessage 호출
    chatInput.addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });
</script>

{% endblock %}
