<!DOCTYPE HTML>
<!--profile.html-->
{% extends 'base.html' %}
{% load static %}
{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}


<!-- 배너 -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>TeleManager</h1>
            <p>Outbound TM Automation Service for Enterprises</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>
    <h1> 내정보 </h1>

    <ul>
        <li> name : {{user}}</li>
        <li> email : {{user.email}}</li>
        <li>{{user.date_joined}}</li>
    </ul>
    <a href="{% url 'account:profile_update' %}">[내 정보 수정하기]</a>
{% endblock %}