{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

    <!--main-->
    <div id="main" class="container">
        <hr>
        <br><br>

        <!-- Form -->
        <div class="col align-center">
            <h3>회원가입</h3>
            <br>
            <div class="inner">
                <form method="post" action="{% url 'account:signup' %}" id="signup-form">
                    {% csrf_token %}
                    <br><br>

                    <div class="row uniform">
                        <table>
                            <tr>
                                <td>
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                    <div style="font-size: 12px; color: #555;">*영문, 숫자를 포함한 3자리 이상으로 입력하세요.</div>
                                    <div id="username-error" style="color: red;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.password1.label_tag }}
                                    {{ form.password1 }}
                                    <div style="font-size: 12px; color: #555;">*영문, 숫자, 특수문자를 포함한 8자리 이상으로 입력하세요.</div>
                                    <div id="password-error" style="color: red;"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ form.password2.label_tag }}
                                    {{ form.password2 }}
                                    <div id="password2-error" style="color: red;"></div>
                                </td>
                            </tr>
                        </table>
                        {{ form.captcha }}
                    </div>
                    <br>
                    <!-- login -->
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Submit" id="submit-btn"></li>
                        </ul>
                    </div>
                </form>
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var usernameInput = document.getElementById("id_username");
            var passwordInput1 = document.getElementById("id_password1");
            var passwordInput2 = document.getElementById("id_password2");
            var usernameErrorDiv = document.getElementById("username-error");
            var passwordErrorDiv = document.getElementById("password-error");

            function validateUsernameRules(username) {
                if (username.length < 3) {
                    return "아이디는 최소 3자 이상이어야 합니다.";
                }
                if (!/[a-zA-Z]/.test(username) || !/\d/.test(username)) {
                    return "아이디는 영문과 숫자를 최소 하나씩 포함해야 합니다.";
                }
                return "";
            }

            function validatePasswordRules(password) {
                if (password.length < 8) {
                    return "비밀번호는 최소 8자 이상이어야 합니다.";
                }
                if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
                    return "비밀번호는 특수문자를 최소 1개 이상 포함해야 합니다.";
                }
                if (!/\d/.test(password)) {
                    return "비밀번호는 숫자를 최소 1개 이상 포함해야 합니다.";
                }
                return "";
            }

            function updateUsernameError() {
                var errorMessage = validateUsernameRules(usernameInput.value);
                usernameErrorDiv.innerText = errorMessage;
            }

            function updatePasswordError() {
                if (passwordInput1.value !== passwordInput2.value) {
                    document.getElementById("password2-error").innerText = "비밀번호가 일치하지 않습니다.";
                } else {
                    var errorMessage = validatePasswordRules(passwordInput1.value);
                    passwordErrorDiv.innerText = errorMessage;
                }
            }

            usernameInput.addEventListener("input", updateUsernameError);
            passwordInput1.addEventListener("input", updatePasswordError);
            passwordInput2.addEventListener("input", function () {
                updatePasswordError();
                document.getElementById("password2-error").innerText = "";
            });

            document.getElementById("submit-btn").addEventListener("click", function (event) {
                updateUsernameError();
                updatePasswordError();

                var response = grecaptcha.getResponse();
                if (!response) {
                    alert("Captcha를 클릭하세요.");
                    event.preventDefault();
                    return;
                }

                if (usernameErrorDiv.innerText !== "" || passwordErrorDiv.innerText !== "") {
                    event.preventDefault();
                }
            });
        });
    </script>

    <script>
        grecaptcha.ready(function() {
            var siteKey = '{{ settings.RECAPTCHA_PUBLIC_KEY }}';
            grecaptcha.execute(siteKey, {action: 'signup'}).then(function(token) {
            });
        });
    </script>
    
{% endblock %}
