<!-- post/templates/post/post_detail.html -->

<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

<a href="{% url 'post:post_list' %}">Back to Post List</a>
<a href="{% url 'post:post_delete' pk=post.pk %}">Delete Post</a>
<a href="{% url 'post:post_edit' pk=post.pk %}">Edit Post</a>


<br>
<h4>댓글 쓰기</h4>
{% if user.is_authenticated %}
    <form action="{% url 'post:comment' post.id %}" method="POST" class="content_form">
        {% csrf_token %}
        <div class="form_community_detail"></div>
        <textarea class="form-content" name="content"></textarea>
        <input type="submit" value="작성" class="btn btn-outline-secondary btn-sm" id="comment_submit">
    </form>
{% endif %}

<span class="comment_list">댓글 목록</span>

{% for comment in post.comment_set.all %}
<div class="container">
  <div class="card" id="contain2">
    <div class="card-body">
      <i class="fas fa-user-circle" id="peopleicon"></i>
      <p2 class="writer"> {{ comment.user }}</p2>
      <br>
      <p2 class="coment_content"> {{ comment.content }}</p2>
      <br>
      <p2 class="coment_update"> {{ comment.updated }} </p2>  

      <hr>

      {% if user.is_authenticated and user == comment.user %}
      <!-- 현재 로그인한 사용자와 댓글 작성자가 일치하면 삭제 버튼 표시 -->
      <form method="post" action="{% url 'post:delete_comment' pk=post.pk comment_id=comment.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
      </form>
      {% endif %}
      <br></br>
    </div>
  </div>
</div>
{% endfor %}
