<!-- password_change.html -->
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}  <!-- Bootstrap 태그 로드 -->

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% bootstrap_css %}  <!-- Bootstrap CSS 로드 -->
{% endblock %}

{% block content %}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>TeleManager</h1>
            <p>Outbound TM Automation Service for Enterprises</p>
        </header>
        <a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section>

<div id="main" class="container">
    <hr><br><br>

    <h3 class='centered'>암호변경</h3>
    
    <form action="{% url 'account:password_change' %}" method="post" class="custom-margin-form-container">

        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit">
    </form>
</div>
{% endblock %}