<!DOCTYPE HTML>
<!--generic.html-->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

<html><head><title>Generic - Urban by TEMPLATED</title>
    <meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="css/main.css"></head><body>

<!-- Banner --><section id="banner"><div class="inner">
        <header><h1>This is Urban</h1>
            <p>Aliquam l</p>
        </header><a href="#main" class="button big scrolly">Learn More</a>
    </div>
</section><!-- Main --><div id="main">

    <!-- Section -->
    <section class="wrapper style2"><div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>NIBH NON LOBORTIS MUS NIBH</h3>
                    <p>Sedsolliiaculis, nunc justo dict</p>
                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <a href="generic.html" class="link"><img src="../static/images/pic02.jpg" alt="" width="320" height="320"></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- Section --><section class="wrapper style1"><div class="inner">
            <header class="align-center"><h2>Aliquam ipsum purus dolor</h2>
                <p>Ac pretium </p>
               </header></div>
    </section></div>
{% endblock %}
