<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <!-- 메인 -->
    <div id="main">

        <!-- 섹션 -->
        <section class="wrapper style1">
            <div class="inner">
                <!-- 2 열 -->
                <div class="flex flex-2">
                    <div class="col col1">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="{% static 'images/스노우맨.jpg' %}" alt="" width="320" height="320"></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>고객 관리 페이지</h3>
                        <p>내용</p>
                        {% if user.is_authenticated %}
                            <a href="/client/" class="button">Learn More</a>    
                        {% else %}
                            <a href="/account/" class="button">Learn More</a>    
                        {% endif %}

                        
                    </div>
                </div>
            </div>
        </section>

        <!-- 섹션 -->
        <section class="wrapper style2">
            <div class="inner">
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Client TeleMarketing</h3>
                        <p>내용</p>
                        {% if user.is_authenticated %}
                            <a href="/chatbot/" class="button">Learn More</a>    
                        {% else %}
                            <a href="/account/" class="button">Learn More</a>    
                        {% endif %}
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="{% static 'images/고양2.jpg' %}" alt="" width="320" height="320"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
