<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block static %}
    <!-- 외부 CSS 파일에 대한 링크 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}

    <!-- 배너 -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>TeleManager</h1>
                <p>Outbound TM Automation Service for Enterprises</p>
            </header>
            <a href="#main" class="button big scrolly">Learn More</a>
        </div>
    </section>

    <!-- 메인 -->
    <div id="main">

        <!-- 섹션 -->
        <section class="wrapper style1">
            <div class="inner">
                <!-- 2 열 -->
                <div class="flex flex-2">
                    <div class="col col1">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="{% static 'images/스노우맨.jpg' %}" alt="" width="320" height="320"></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>고객 관리 페이지</h3>
                        <p>내용</p>
                        <a href="/client/" class="button">Learn More</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- 섹션 -->
        <section class="wrapper style2">
            <div class="inner">
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>Client TeleMarketing</h3>
                        <p>내용</p>
                        <a href="/chatbot/" class="button">Learn More</a>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="generic.html" class="link"><img src="{% static 'images/고양2.jpg' %}" alt="" width="320" height="320"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}
